.UserOutput {
    background-color: white;
    color:rgb(15, 0, 100);
    width: 200px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
   
}

/* On mouse-over, add a deeper shadow */
.UserOutput:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
